


<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Home</title>
</head>
<body>
    @*carousel*@
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/img/c1.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/img/c2.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/img/c3.png" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


    <br />

    @*cards*@
    <div class="card-group">
        <div class="card">
            <img src="https://in-media.apjonlinecdn.com/catalog/product/cache/b3b166914d87ce343d4dc5ec5117b502/c/0/c06596623_1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Hp Omen 15</h5>
                <h9 class="card-title">MRP Rs 113,999</h9>
                <p class="card-text">
                    Specification: <br />
                    i7 10th gen <br />
                    Nvidia GTX 1650ti <br />
                    144hz refresh rate <br />
                    16Gb RAM <br />
                    1Tb NVME SSD
                </p>
            </div>
        </div>
        <div class="card">
            <img src="https://in-media.apjonlinecdn.com/catalog/product/cache/b3b166914d87ce343d4dc5ec5117b502/c/0/c06451253_3.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Hp Pavilion Gaming</h5>
                <h9 class="card-title">MRP Rs 90,999</h9>
                <p class="card-text">
                    Specification: <br />
                    Ryzen 7 5800H <br />
                    Nvidia GTX 1650ti <br />
                    144hz refresh rate <br />
                    16Gb RAM <br />
                    512Gb NVME SSD
                </p>
            </div>
        </div>
        <div class="card">
            <img src="https://in-media.apjonlinecdn.com/catalog/product/cache/b3b166914d87ce343d4dc5ec5117b502/c/0/c06962789.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Hp Envy</h5>
                <h9 class="card-title">MRP Rs 104,999</h9>
                <p class="card-text">
                    Specification: <br />
                    i5 11th gen <br />
                    intel iris XE graphics <br />
                    60hz refresh rate <br />
                    16Gb RAM <br />
                    1Tb NVME SSD
                </p>
            </div>
        </div>
    </div>


    <br />
    <br />

    <div class="card-group">
        <div class="card">
            <img src="https://in-media.apjonlinecdn.com/wysiwyg/new-home-page/images/Block_Student.jpg" class="card-img-top" alt="...">
            <h5 class="card-title">For Students</h5>
        </div>
        <div class="card">
            <img src="https://in-media.apjonlinecdn.com/wysiwyg/new-home-page/images/Block_Premium.jpg" class="card-img-top" alt="...">
            <h5 class="card-title">Premium</h5>
        </div>
        <div class="card">
            <img src="https://in-media.apjonlinecdn.com/wysiwyg/new-home-page/images/Shopby_Block_Gaming.jpg" class="card-img-top" alt="...">
            <h5 class="card-title">For Gaming</h5>
        </div>
    </div>






    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>
</html>




